@import "../features/animations/animations.css";




.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}



.navbar-light {
  color: #181818;
}

.navbar-dark {
  color: #fff;
}








/* ==========================================
   GLOBAL MAP MARKERS
========================================== */

.market-marker{

position:absolute;

opacity:0;

transform:
translate(-50%,-50%)
scale(.2);

transition:

all .7s
cubic-bezier(.22,1,.36,1);

}

.market-marker.active{

opacity:1;

transform:
translate(-50%,-50%)
scale(1);

}
