@import "../features/animations/animations.css";
 



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}



.navbar-light {
  color: #181818;
}

.navbar-dark {
  color: #fff;
}
